.search-img {
  background: rgb(214, 82, 70);
  width: 5rem;
  border: 0px;
  height: 3.6rem;
}
.info-window-container {
  font-family: 'Roboto', sans-serif;
  width: 300px;
  background: linear-gradient(to right, #f8f9fa, #e2e6ea);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  /* transition: all 0.3s ease-in-out; */
}

/* .info-window-container:hover {
  transform: scale(1.05);
} */

.info-header {
  align-items: center;
  /* margin-bottom: 10px; */
  border-bottom: 2px solid #007bff;
  /* padding-bottom: 8px; */
}

.delivery-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.delivery-man-name {
  font-size: 18px;
  font-weight: 600;
  color: #343a40;
  margin: 0;
}

.info-body {
  margin-top: 12px;
  font-size: 14px;
  color: #495057;
}

.info-body p {
  margin: 6px 0;
}

.info-footer {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.call-button {
  padding: 8px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.call-button:hover {
  background-color: #218838;
}

.call-button:focus {
  outline: none;
}

.delivery-man-address {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}
