.card-glass {
  /* background: rgba(255, 255, 255, 0.95); */
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.card-glass:hover {
  box-shadow: 0 10px 30px rgba(52, 152, 219, 0.1);
}
