/* .input-text {
  width: 19px;
  height: 19px;
  margin: 20px;
}
.delivery-heading {
  background: #253a71;
  color: white;
  padding-right: 20px;
  height: 78px;
}
.table-document {
  width: 1340px;
  background: #fff;
  font-size: 10px;
  color: #888585;
}

.document-data {
  padding: 30px;
}
.approved-btn {
  outline: none;
  border: 1px solid #e6e6e6;
  width: 158px;
  height: 41px;
  padding: 12px;
} */
