/* .file {
  border: none;
  outline: none;
  background: white;
}
.update-btn {
  display: flex;
  justify-content: flex-end;
}
.images {
  width: 204px;
  height: 150px;
  background: white;
  border-radius: 5px;
}
.form-labels {
  color: black;
  padding: 100px 10px 10px 35px;
}
.car1 {
  position: relative;
  top: -100px;
  right: -35px;
} */
