/* .add-parcel {
  background: #d65246;
  color: white;
  border-radius: 5px;
  height: 41px;
  width: 209px;
  outline: none;
  border: none;
}
.dark-mode .add-parcel {
  background: #2d9cdb;
}
.user-table12{
  padding-left:90px
}
.user-table1 {
  padding: 24px 0px 25px 70px;
} */