/* .input {
  width: 641px;
  height: 75px;
  outline: none;
  border: none;
  border: 1px solid #e6e6e6;
  padding: 20px;
  border-radius: 5px;
}

.add-city {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}
.input-box {
  display: flex;
  flex-direction: row;
} */
