/* .country-headings {
  padding-left: 30px;
  font-size: 8px;
}
.city-data {
  padding-left: 20px;

  font-size: 8px;
}
.all-order {
  font-size: 8px;
}
button {
  text-transform: capitalize;
}
.country-headings1 {
  padding-left: 0px;
  font-size: 8px;
} */
